In [21]:
import pandas as pd

#### Install openpyxl Library to read the excel file.

In [22]:
# !pip3 install openpyxl

## Data Processing

In [23]:
df_raw = pd.read_excel('GE15Y.xlsx').drop(index=0) # Read data file

### Check the number of rows and columns in data file

In [24]:
df_raw.shape # There are 8785 rows and 24 columns

(8785, 24)

### Check Missing values

In [27]:
df_raw.drop(index=8785)

,Date,Time,Rg,Ratm,Rn,T_soilref,Ta,RH,uref,LAI_total,...,zh,zref,Rain,O3_concentration,Pesticid_concentration,Pest_soil,NH3_concentration,GammaLeaf_NH3,GammaSoil_NH3,R_litter_NH3
1,2012-01-01 00:00:00,00:00:00,NaN,NaN,0,NaN,11.9,93,4.9,NaN,...,NaN,NaN,0,26.986734,0,0,0,250,3000,0
2,2012-01-01 01:00:00,01:00:00,NaN,NaN,0,NaN,11.7,95,4.3,NaN,...,NaN,NaN,0,21.272562,0,0,0,250,3000,0
3,2012-01-01 02:00:00,02:00:00,NaN,NaN,0,NaN,11.8,94,3.7,NaN,...,NaN,NaN,0,14.972155,0,0,0,250,3000,0
4,2012-01-01 03:00:00,03:00:00,NaN,NaN,0,NaN,11.7,96,3.5,NaN,...,NaN,NaN,0,16.864317,0,0,0,250,3000,0
5,2012-01-01 04:00:00,04:00:00,NaN,NaN,0,NaN,11.8,95,4.2,NaN,...,NaN,NaN,0,24.66009,0,0,0,250,3000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8780,2012-12-31 19:00:00,1900-12-30 19:00:00,NaN,NaN,0,NaN,9,78,6.3,NaN,...,NaN,NaN,0,12.860179,0,0,0,250,3000,0
8781,2012-12-31 20:00:00,1900-12-30 20:00:00,NaN,NaN,0,NaN,8.8,77,6.6,NaN,...,NaN,NaN,0,4.94979,0,0,0,250,3000,0
8782,2012-12-31 21:00:00,1900-12-30 21:00:00,NaN,NaN,0,NaN,8,84,6,NaN,...,NaN,NaN,0.2,0,0,0,0,250,3000,0
8783,2012-12-31 22:00:00,1900-12-30 22:00:00,NaN,NaN,0,NaN,7.4,91,5.1,NaN,...,NaN,NaN,0.6,0.258815,0,0,0,250,3000,0
8784,2012-12-31 23:00:00,1900-12-30 23:00:00,NaN,NaN,0,NaN,7.2,94,5.3,NaN,...,NaN,NaN,1.4,0,0,0,0,250,3000,0

In [25]:
df_raw.isna().sum()

Date                         1
Time                         1
Rg                        8785
Ratm                      8785
Rn                         544
T_soilref                 4630
Ta                           1
RH                           1
uref                         1
LAI_total                 8785
LAI_green                 8785
displacement_height       8785
z0_soil                   8785
z0_canopy                 8785
zh                        8785
zref                      8785
Rain                         1
O3_concentration             0
Pesticid_concentration       0
Pest_soil                    0
NH3_concentration            0
GammaLeaf_NH3                0
GammaSoil_NH3                0
R_litter_NH3                 0
dtype: int64

In [26]:
df = df_raw.fillna(0)
df

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_60957/1462793429.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df_raw.fillna(0)

,Date,Time,Rg,Ratm,Rn,T_soilref,Ta,RH,uref,LAI_total,...,zh,zref,Rain,O3_concentration,Pesticid_concentration,Pest_soil,NH3_concentration,GammaLeaf_NH3,GammaSoil_NH3,R_litter_NH3
1,2012-01-01 00:00:00,00:00:00,0,0,0.0,0.0,11.9,93,4.9,0,...,0,0,0.0,26.986734,0,0,0,250,3000,0
2,2012-01-01 01:00:00,01:00:00,0,0,0.0,0.0,11.7,95,4.3,0,...,0,0,0.0,21.272562,0,0,0,250,3000,0
3,2012-01-01 02:00:00,02:00:00,0,0,0.0,0.0,11.8,94,3.7,0,...,0,0,0.0,14.972155,0,0,0,250,3000,0
4,2012-01-01 03:00:00,03:00:00,0,0,0.0,0.0,11.7,96,3.5,0,...,0,0,0.0,16.864317,0,0,0,250,3000,0
5,2012-01-01 04:00:00,04:00:00,0,0,0.0,0.0,11.8,95,4.2,0,...,0,0,0.0,24.660090,0,0,0,250,3000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8781,2012-12-31 20:00:00,1900-12-30 20:00:00,0,0,0.0,0.0,8.8,77,6.6,0,...,0,0,0.0,4.949790,0,0,0,250,3000,0
8782,2012-12-31 21:00:00,1900-12-30 21:00:00,0,0,0.0,0.0,8.0,84,6.0,0,...,0,0,0.2,0.000000,0,0,0,250,3000,0
8783,2012-12-31 22:00:00,1900-12-30 22:00:00,0,0,0.0,0.0,7.4,91,5.1,0,...,0,0,0.6,0.258815,0,0,0,250,3000,0
8784,2012-12-31 23:00:00,1900-12-30 23:00:00,0,0,0.0,0.0,7.2,94,5.3,0,...,0,0,1.4,0.000000,0,0,0,250,3000,0
8785,0,0,0,0,0.0,0.0,0.0,0,0.0,0,...,0,0,0.0,0.000000,0,0,0,250,3000,0

In [15]:
df.isna().sum()

Date                      0
Time                      0
Rg                        0
Ratm                      0
Rn                        0
T_soilref                 0
Ta                        0
RH                        0
uref                      0
LAI_total                 0
LAI_green                 0
displacement_height       0
z0_soil                   0
z0_canopy                 0
zh                        0
zref                      0
Rain                      0
O3_concentration          0
Pesticid_concentration    0
Pest_soil                 0
NH3_concentration         0
GammaLeaf_NH3             0
GammaSoil_NH3             0
R_litter_NH3              0
dtype: int64