In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Rain_SWC_Drainage_2013_15min.xlsx')
df.head()

,date,Rain,Drainage_GE15Y,Drainage_SE15Y,SWC_SE15Y,SWC_GE15Y
0,2013-01-01 00:00:00,0.1,NaN,NaN,0.296583,0.211261
1,2013-01-01 00:15:00,0.3,NaN,NaN,0.296739,0.211886
2,2013-01-01 00:30:00,0.5,NaN,NaN,0.296809,0.212286
3,2013-01-01 00:45:00,0.4,NaN,NaN,0.296913,0.212807
4,2013-01-01 01:00:00,0.3,NaN,NaN,0.296820,0.213005

In [3]:
df_new = df.groupby(df['date'].dt.date)['Rain'].sum().reset_index()
df_new.head()

         date  Rain
0  2013-01-01   6.8
1  2013-01-02   3.1
2  2013-01-03   2.1
3  2013-01-04   0.4
4  2013-01-05   0.6

In [4]:
no_rain = df_new[df_new['Rain'] == 0]
no_rain.head()

          date  Rain
6   2013-01-07   0.0
14  2013-01-15   0.0
15  2013-01-16   0.0
16  2013-01-17   0.0
17  2013-01-18   0.0

In [5]:
df_new.to_excel('daily_rain_export.xlsx')

In [6]:
no_rain.to_excel('no_rain_export.xlsx')