In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('SE15Y.xlsx').drop(index=0)
df.head()

,Date,Time,Rg,Ratm,Rn,T_soilref,Ta,RH,uref,LAI_total,...,zref,Rain,O3_concentration,Pesticid_concentration,Pest_soil,NH3_concentration,GammaLeaf_NH3,GammaSoil_NH3,R_litter_NH3,SWC
1,2012-01-01 00:00:00,00:00:00,6999,6999,0,10.248333,11.9,93,4.9,1.5,...,10,0,26.986734,0,0,0,250,3000,0,0.250624
2,2012-01-01 01:00:00,01:00:00,6999,6999,0,10.332,11.7,95,4.3,1.5,...,10,0,21.272562,0,0,0,250,3000,0,0.250605
3,2012-01-01 02:00:00,02:00:00,6999,6999,0,10.433333,11.8,94,3.7,1.5,...,10,0,14.972155,0,0,0,250,3000,0,0.250423
4,2012-01-01 03:00:00,03:00:00,6999,6999,0,10.508,11.7,96,3.5,1.5,...,10,0,16.864317,0,0,0,250,3000,0,0.25038
5,2012-01-01 04:00:00,04:00:00,6999,6999,0,10.5715,11.8,95,4.2,1.5,...,10,0,24.66009,0,0,0,250,3000,0,0.250372

In [3]:
df['Time'] = pd.to_datetime(df['Time'].astype(str)).dt.time

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_45511/139071093.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'].astype(str)).dt.time

In [4]:
df['datetime'] = df['Date'].astype(str) + " " + df['Time'].astype(str)
df['datetime'] = pd.to_datetime(df['datetime'])

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_45511/3177430883.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['datetime'] = pd.to_datetime(df['datetime'])

In [5]:
df.isna().sum()

Date                         0
Time                         0
Rg                           0
Ratm                         0
Rn                         540
T_soilref                    0
Ta                           0
RH                           0
uref                         0
LAI_total                    0
LAI_green                    0
displacement_height          0
z0_soil                      0
z0_canopy                    0
zh                           0
zref                         0
Rain                         0
O3_concentration             0
Pesticid_concentration       0
Pest_soil                    0
NH3_concentration            0
GammaLeaf_NH3                0
GammaSoil_NH3                0
R_litter_NH3                 0
SWC                       1710
datetime                     0
dtype: int64

In [6]:
row_with_missing_Rn = df['Rn'].isna()
df[row_with_missing_Rn]['Rn']

369     NaN
370     NaN
394     NaN
753     NaN
777     NaN
       ...
8314    NaN
8650    NaN
8722    NaN
8724    NaN
8746    NaN
Name: Rn, Length: 540, dtype: object

In [7]:
df['datetime'].dt.hour

1        0
2        1
3        2
4        3
5        4
        ..
8780    19
8781    20
8782    21
8783    22
8784    23
Name: datetime, Length: 8784, dtype: int32

In [8]:
# Average value for each hour
hourly_Rn = df.groupby(df['datetime'].dt.hour)['Rn'].mean()

In [9]:
hourly_Rn[5]

0.865047021943574

In [10]:
def custom_fill(row):

    current_hour = row['datetime'].hour

    if pd.isnull(row['Rn']):
        return hourly_Rn[current_hour]
    
    return row

df = df.apply(custom_fill, axis=1)

In [11]:
df[row_with_missing_Rn]['Rn'].unique()

array([ 99.7055597 , 154.1909622 , 209.06367213, 254.45214058,
       282.08018182, 284.14212209,  50.72785714,  50.78574394,
        17.6969967 , 270.26580556,   0.86504702])

In [12]:
df.to_excel('SE15Y_update.xlsx')