In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv("trappes_meteo_GR_data.csv")
df_raw.head()

                  date  Rain  Wind  Temp  HR  Pa  NetRad
0  2012-04-11 01:05:00   0.0   NaN   NaN NaN NaN     NaN
1  2012-04-11 01:10:00   0.1   NaN   NaN NaN NaN     NaN
2  2012-04-11 01:15:00   0.0   NaN   NaN NaN NaN     NaN
3  2012-04-11 01:20:00   0.0   NaN   NaN NaN NaN     NaN
4  2012-04-11 01:25:00   0.0   NaN   NaN NaN NaN     NaN

In [3]:
df_raw.shape

(662042, 7)

In [4]:
df_raw.isna().sum()

date          0
Rain      81998
Wind      63335
Temp      79731
HR        79727
Pa        60624
NetRad    63367
dtype: int64

In [5]:
df = df_raw.copy()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662042 entries, 0 to 662041
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    662042 non-null  object
 1   Rain    580044 non-null  float64
 2   Wind    598707 non-null  float64
 3   Temp    582311 non-null  float64
 4   HR      582315 non-null  float64
 5   Pa      601418 non-null  float64
 6   NetRad  598675 non-null  float64
dtypes: float64(6), object(1)
memory usage: 35.4+ MB

In [7]:
df.date.dt.floor('H')

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d %H:%M:%S').dt.floor('H')

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_9529/677696766.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d %H:%M:%S').dt.floor('H')

In [ ]:
new_df = df.groupby(df['date']).mean()
new_df.head()

                         Rain  Wind  Temp  HR  Pa  NetRad
date
2012-04-11 01:00:00  0.009091   NaN   NaN NaN NaN     NaN
2012-04-11 02:00:00  0.000000   NaN   NaN NaN NaN     NaN
2012-04-11 03:00:00  0.000000   NaN   NaN NaN NaN     NaN
2012-04-11 04:00:00  0.000000   NaN   NaN NaN NaN     NaN
2012-04-11 05:00:00  0.000000   NaN   NaN NaN NaN     NaN

In [ ]:
new_df['Rain'] = df.groupby(df['date']).sum('rain')['Rain']
new_df.head()

                     Rain  Wind  Temp  HR  Pa  NetRad
date
2012-04-11 01:00:00   0.1   NaN   NaN NaN NaN     NaN
2012-04-11 02:00:00   0.0   NaN   NaN NaN NaN     NaN
2012-04-11 03:00:00   0.0   NaN   NaN NaN NaN     NaN
2012-04-11 04:00:00   0.0   NaN   NaN NaN NaN     NaN
2012-04-11 05:00:00   0.0   NaN   NaN NaN NaN     NaN

In [ ]:
new_df.to_csv("trappes_meteo_GR_data[hourly].csv")