In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Drainage.xlsx").drop(index = 0)
df.head()

                 date Drainage_observed Rain SWC_Simulated_GE15Y        LE
1 2013-01-01 00:00:00                 0  1.5               32.85  0.070709
2 2013-01-01 01:00:00                 0  0.9               32.85 -0.112658
3 2013-01-01 02:00:00                 0  1.7               32.85 -0.480248
4 2013-01-01 03:00:00                 0  1.1               32.85 -0.970548
5 2013-01-01 04:00:00                 0  0.1               32.85 -1.572643

In [3]:
df.isna().sum()

date                   0
Drainage_observed      0
Rain                   0
SWC_Simulated_GE15Y    0
LE                     0
dtype: int64

## Formula 1

In [4]:
df['ET'] = df['LE'] * 0.035/24
df.head()

,date,Drainage_observed,Rain,SWC_Simulated_GE15Y,LE,ET
1,2013-01-01 00:00:00,0,1.5,32.85,0.070709,0.000103
2,2013-01-01 01:00:00,0,0.9,32.85,-0.112658,-0.000164
3,2013-01-01 02:00:00,0,1.7,32.85,-0.480248,-0.0007
4,2013-01-01 03:00:00,0,1.1,32.85,-0.970548,-0.001415
5,2013-01-01 04:00:00,0,0.1,32.85,-1.572643,-0.002293

In [5]:
df.shape

(8760, 6)

## Formula 2

In [6]:
def formula2(row):
    swc_simulated = row['SWC_Simulated_GE15Y']

    if swc_simulated >= 32.6:
        row['Drinage'] = row['Rain'] - row['ET']
    else:
        row['Drinage'] = 0

    return row['Drinage']

In [7]:
df['Drinage'] = df.apply(lambda row: formula2(row), axis=1)
df.head()

,date,Drainage_observed,Rain,SWC_Simulated_GE15Y,LE,ET,Drinage
1,2013-01-01 00:00:00,0,1.5,32.85,0.070709,0.000103,1.499897
2,2013-01-01 01:00:00,0,0.9,32.85,-0.112658,-0.000164,0.900164
3,2013-01-01 02:00:00,0,1.7,32.85,-0.480248,-0.0007,1.700700
4,2013-01-01 03:00:00,0,1.1,32.85,-0.970548,-0.001415,1.101415
5,2013-01-01 04:00:00,0,0.1,32.85,-1.572643,-0.002293,0.102293

In [8]:
df.to_excel("Result.xlsx", index=False)